<div class="todos">
  <form #f="ngForm" (ngSubmit)="onCreateTodo()">
    <mat-form-field>
      <input
        matInput
        placeholder="Todo Name"
        value="My Todo"
        name="title"
        [(ngModel)]="todo.title"
      />
    </mat-form-field>
    <button mat-button type="submit">Create</button>
  </form>

  <mat-list role="list">
    <mat-list-item
      role="listitem"
      (click)="onDelete(todo)"
      *ngFor="let todo of todos$ | async"
      >{{ todo.id }} - {{ todo.title }}</mat-list-item
    >
  </mat-list>
</div>
